{% extends 'music/base.html'%}

{% block body %}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="container">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <h3 class="text-center"> Welldone {{first_name}} {{last_name}}!!</h3><br>
      <h5 class="text-center">  Your Account has been activated !! Now, Log in to your account and enjoy our Service !! </h5><br>
      <h6 class="text-center">Thanks for create a account in RyzicMix.</h6>
    </div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

{% endblock %}